*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-weight: 400;
  color: #777;
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 4rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    width: 95%;
    margin-right: -3.5rem;
    transition: all .3s; }
    .search__input:focus {
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #999; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    outline: none;
    border: none;
    background-color: #f4f2f2;
    font-size: 2rem;
    transition: all .2s;
    color: #777; }
    .search__button:focus {
      transform: translateY(2px); }

.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center; }
  .user-nav > * {
    padding: 0 1.5rem;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__icon {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    position: relative; }
  .user-nav__notifi {
    margin: 0 auto;
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #eb2f64;
    color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 1.15rem;
    right: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav__user-photo {
      height: 4rem;
      width: auto;
      border-radius: 50%; }
    .user-nav__user-name {
      padding: 1rem;
      font-weight: 600; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%; }

.hotel-view {
  flex: 1;
  background-color: orangered; }
