*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #777;
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%; }

.hotel-view {
  flex: 1;
  background-color: orangered; }
