////// LOGO
.logo {
    height: 4rem;
    margin-left: 2rem;
}

////// SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:480px){
        order:1;
        flex: 0 0 100%;
        justify-content: space-around;
    }
    &__input {
        font-family: inherit;
        color:inherit;
        background-color: $grey-light-2;
        border: none;
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        width: 95%;
        margin-right: -3.5rem;
        transition: all .3s;
        &:focus {
            width: 100%;
            background-color: $grey-light-3;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $grey-dark-3;
        }
    }

    &__input:focus + &__button {
       background-color: $grey-light-3;
    }

    &__button{
        outline: none;
        border: none;
        background-color: $grey-light-2;
        font-size: 2rem;
        transition: all .2s;
        color: $grey-dark-2;
        
        &:focus {
            transform: translateY(2px);

        }

        @media only screen and (max-width:600px) {
            & i {
                margin-left: -2rem;
            }
        }
       
    }


}

////// USER NAV

.user-nav {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        padding: 0 1.5rem;
        cursor: pointer;
    }

    & > *:hover{
      background-color: $grey-light-2;
    }

    &__icon {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 2rem;
        position: relative;
    }

    &__notifi {
        margin: 0 auto;
        display: inline-block;
        height: 1.7rem;
        width: 1.7rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: $primary;
        color: #fff;
        border-radius: 100px;
        position: absolute;
        top: 1.15rem;
        right: 0.4rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__user {
        height: 100%;
        display: flex;
        align-items: center;
        
        &-photo {
            height: 4rem;
            width: auto;
            border-radius: 50%;
        }

        &-name {
            padding: 1rem;
            font-weight: 600;
        }
    }
}

// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    margin: 3.5rem 0;

    @media only screen and (max-width:900px){
      display: flex;
      margin: 0;
    }

    &__item {
        list-style: none;
        position: relative;
        text-transform: uppercase;
        
        &:not(:last-child){
           // margin-bottom: .1rem;

           @media only screen and (max-width:900px){
            flex: 1;
            }
        }
    }

    &__item::before {
        content: "";
        background-color: $primary;
        height: 100%;
        width: .3rem;
        position: absolute;
        top:0;
        left: 0;
        transform: scaleY(0);
        transition: transform .5s, width .1s ease-in .5s;
    }

    &__item:hover::before,
    &__item-active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $primary-light;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;  
        padding: 1.4rem 3rem;
        display: block;
        position: relative;
        z-index: 9;

        display: flex;
        align-items: center;

        @media only screen and (max-width:900px){
            text-align: center;
            padding: 2rem;
        }
        @media only screen and (max-width:600px){
            flex-direction: column;
            padding: 2rem;
        }
    }

   
    &__link-icon i {
        margin-right: 2rem;

        @media only screen and (max-width:600px){
             margin-right: 0;
        }
        
    }
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: $grey-light-4;    

    @media only screen and (max-width:900px){
        display: none;
    }
}

// Gallery 

.gallery {
    display: flex;
    overflow: hidden;
    &__item {

    }

    &__photo {
        display: block;
        width: 100%;
        transform: scale(1.05);
        transition: transform 0.3s;
        backface-visibility: hidden;        
        &:hover {
            transform: scale(1);
        }
    }
}

.overview {
    background-color: #fff;
    border-bottom: 1px solid $grey-light-2;
    display: flex;
    align-items: center;

    @media only screen and (max-width:480px){
        flex-wrap: wrap;
    }
    & > *:not(:last-child) {
        padding-right: 2rem;
    }

    

    &__heading {
        text-transform: uppercase;
        padding-left: 2rem;
        font-weight: 200;

     

        @media only screen and (max-width:600px){
            padding: 1.5rem;
        }

   

    }

    &__icon {
        flex: 1;
        font-size: 1.4rem;
        color: $primary;
        padding: 1rem 2rem;
       
        @media only screen and (max-width:600px){
            padding: 0.8rem 1.5rem;
        }
        @media only screen and (max-width:480px){
            order:1;
            flex: 0 0 auto;
            padding: 0.5rem 1rem;
            font-size: 2rem;
       }
    }

    &__location {
        font-size: 1.4rem;
        color: $primary;
        backface-visibility: hidden;
 
    }




    &__rating {
        background-color: $primary;
        color:$grey-light-1;
        text-align: center;
        align-self: stretch;
        padding: 1rem;
        text-transform: uppercase;

        @media only screen and (max-width:480px){
            padding: 0.5rem;
        }

        &-average{
            font-size: 2rem;
            font-weight: 100;
            @media only screen and (max-width:480px){
                font-size: 1.5rem
           }

        }

        &-count {
            font-size: 1rem;
            font-weight: 100;
            @media only screen and (max-width:480px){
                font-size: 0.5rem
           }
        }
    }
}

.btn-inline {
    text-decoration: none;
    border-bottom: 1px solid $primary;
    padding-bottom: 0.3rem;
    color: $primary;
    background-color: transparent;
    margin-left: 0.3rem;
    
    &:hover {
        border-bottom: 1px solid $grey-dark-2;
        color: $grey-dark-2;

    }

    &:focus {
        animation: pulse 1s infinite;
        outline: none;
    }

 }

@keyframes pulse {

    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

///////////////
// LİST

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid $grey-light-2;
    border-bottom: 1px solid $grey-light-2;

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        padding: 0.5rem 1rem;
        display: flex;

        @media only screen and (max-width:600px){
            flex: 0 0 100%;
        }

        & i {
            color: $primary;
            
        }
    }
}

////////////////
// RECOMMEND

.recommend {
    font-size: 1.3rem;
    color: $grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;

    &__count {
        flex: 0 0 60%;
    }

    &__friends {
        flex: 1;
        display: flex;
    }

    &__photo {
        box-sizing: content-box;
        &:not(:last-child) {
            margin-right: -1.3rem;
        }
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
    }

}


/////////////
//Review user 

.review {
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width:900px){
        padding: 2rem;
        margin-bottom: 2.5rem;
    }
   
    &::before {
        content: "\201C";
        position: absolute;
        top: -3rem;
        left: -0.5rem;
        color: $grey-light-3;
        font-size: 18rem;
        font-family: sans-serif;
        z-index: 0;
    }

    &__text {
        color: $grey-dark-1;
        font-weight: 600;
        position: relative;
    }
   
    &__user {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__photo {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    &__user-box {
        padding: 1rem;
    }
    
    &__user-name {
        font-weight: 600;
        color: $grey-dark-1;
    }

    &__user-date {
        font-size: 1rem;
    }

    &__user-rate {
        color: $primary;
        font-size: 3rem;
        font-weight: 100;
    }

    &__user-button {
        text-align: center;
    }
}

////////////////
/// CALL TO ACTION

.cta {
    padding: 3.5rem 0;
    text-align: center;
    @media only screen and (max-width:900px){
        padding: 2.5rem;
    }

    &__book-now {
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        font-weight: 300;
        font-size: 1.6rem;
    }
}

.btn {
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    border-radius: 100px;
    color: #fff;
    font-weight: 100;
    outline: none;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 1.8rem;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;


    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .3s;

    }

    &__visible {
        padding: 2rem 6.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position:absolute;
        left: 0;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, $primary-light, $primary-dark);
    }

    &:hover &__visible {
        transform: translateY(100%);
    }
    
    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: btnPulse 1s infinite;
    }

    @keyframes btnPulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }
}


















