*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-weight: 400;
  color: #777;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF3366), to(#BA265D));
  background-image: -webkit-linear-gradient(left top, #FF3366, #BA265D);
  background-image: -o-linear-gradient(left top, #FF3366, #BA265D);
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 4rem;
  margin-left: 2rem; }

.search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    width: 95%;
    margin-right: -3.5rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .search__input:focus {
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #999; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    outline: none;
    border: none;
    background-color: #f4f2f2;
    font-size: 2rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: #777; }
    .search__button:focus {
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px); }

.user-nav {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .user-nav > * {
    padding: 0 1.5rem;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    position: relative; }
  .user-nav__notifi {
    margin: 0 auto;
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #eb2f64;
    color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 1.15rem;
    right: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .user-nav__user {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .user-nav__user-photo {
      height: 4rem;
      width: auto;
      border-radius: 50%; }
    .user-nav__user-name {
      padding: 1rem;
      font-weight: 600; }

.side-nav {
  font-size: 1.4rem;
  margin: 3.5rem 0; }
  .side-nav__item {
    list-style: none;
    position: relative; }
  .side-nav__item::before {
    content: "";
    background-color: #eb2f64;
    height: 100%;
    width: .3rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: width .1s ease-in .5s, -webkit-transform .5s;
    transition: width .1s ease-in .5s, -webkit-transform .5s;
    -o-transition: transform .5s, width .1s ease-in .5s;
    transition: transform .5s, width .1s ease-in .5s;
    transition: transform .5s, width .1s ease-in .5s, -webkit-transform .5s; }
  .side-nav__item:hover::before, .side-nav__item-active::before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #FF3366; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: #fff;
    padding: 1.4rem 3rem;
    display: block;
    position: relative;
    z-index: 9; }
  .side-nav__link-icon i {
    margin-right: 2rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: #ccc; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .gallery__photo {
    display: block;
    width: 100%;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .gallery__photo:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

.overview {
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .overview > *:not(:last-child) {
    padding-right: 2rem; }
  .overview__heading {
    text-transform: uppercase;
    padding-left: 2rem;
    font-weight: 200; }
  .overview__icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    color: #eb2f64;
    padding: 1rem 2rem; }
  .overview__location {
    font-size: 1.4rem;
    color: #eb2f64;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .overview__location .btn-inline {
      text-decoration: none;
      border-bottom: 1px solid #eb2f64;
      padding-bottom: 0.3rem;
      color: #eb2f64;
      background-color: transparent;
      margin-left: 0.3rem; }
      .overview__location .btn-inline:hover {
        border-bottom: 1px solid #777;
        color: #777; }
      .overview__location .btn-inline:focus {
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
        outline: none; }
  .overview__rating {
    background-color: #eb2f64;
    color: #faf9f9;
    text-align: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: 1rem 1rem;
    text-transform: uppercase; }
    .overview__rating-average {
      font-size: 2rem;
      font-weight: 100; }
    .overview__rating-count {
      font-size: 1rem;
      font-weight: 100; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none; }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none; }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #f4f2f2;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .list__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0.5rem 1rem; }
    .list__item i {
      color: #eb2f64; }

.recommend {
  font-size: 1.3rem;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .recommend__count {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }
  .recommend__friends {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .recommend__photo {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.3rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  background-color: #333;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.hotel-view {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
  font-size: 1.4rem; }

.description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  background-color: #fff;
  margin-right: 4.5rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 2rem; }

.user-review {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
