*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #777;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF3366), to(#BA265D));
  background-image: -webkit-linear-gradient(left top, #FF3366, #BA265D);
  background-image: -o-linear-gradient(left top, #FF3366, #BA265D);
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  background-color: #333;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%; }

.hotel-view {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: orangered; }
